{% extends "base.html" %}
{% block title %}CST | About{% endblock %}
{% block navbar %}
<a class="nav-link" href="/">Home</a>
<a class="nav-link active" aria-current="page" href="/about">About</a>
{% endblock %}
{% block heading %}About{% endblock %}
{% block content %}
<p>
  Many high school seniors and others apply to four-year colleges or universities in the United States every year. A large proportion of applicants may apply to more than one college and earn acceptance to multiple institutions - meaning the student has to select one school to enroll. Some applicants may make this decision on which school to attend based on what "feels right." Others may seek a more reasoned decision-making approach. These applicants may find a tool that can help them weigh their decision based on reported school characteristics and metrics helpful. The College Scoring Tool enables students to weigh how much influence individual college characteristics and performance indicators have on their decision, and the product will respond according to the user inputted weights. Our team hopes it helps college seekers to make the college decision best for them.
</p>
{% endblock %}